# Place this file in /lib/systemd/system/biltemacontroller.service
[Unit]
Description=Control Biltema outlets (35-392) using MQTT and Python on a Raspberry Pi
After=multi-user.target

[Service]
ExecStart=/home/pi/Desktop/BiltemaController/biltemacontroller.py -c /home/pi/Desktop/BiltemaController/biltemacontroller.conf

[Install]
WantedBy=multi-user.target
